* {
  box-sizing: border-box;
  background-color: #000;
}

.containter {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex: 1;
}

.inbox {
  flex: 8;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.health-power {
  color: #fff;
}

.health-power span {
  padding: 10;
}

.create-message {
  flex: 1;
  display: flex;
  width: 99vw;
}

.message-box {
  flex: 1;
  display: flex;
  width: 99vw;
  color: #fff;
}
